body {
  background-color: lavender;
}
#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card {
  border: solid lightblue 1px;
  width: 400px;
  margin: 10px;
}
.imgWrapper {
  text-align: center;
}

h2 {
  text-align: center;
}
.avail {
  background-color: darkgray;
}
.sectionOneContainer {
  background-color: blue;
}
.sectionTwoContainer {
  background-color: lightcoral;
}
.sectionThreeContainer {
  background-color: royalblue;
}
